<nav>
    <div class="nav-wrapper blue accent-4">
      <a routerLink="/inicio" class="brand-logo" >Inicio</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="frontendmascotas\src\app\plantilla\Usuarios\Usuarios.html">Usuarios</a></li>
        <li><a routerLink="/mascota">Mascotas</a></li>
        <li><a routerLink="/plan">Planes</a></li>
        <li><a routerLink="/producto">Productos</a></li>
        <li><a routerLink="/prospecto">Prospectos</a></li>
        <li><a routerLink="/sucursal">Sucursales</a></li>
        <li><a routerLink="/seguridad/identificar">Incio Sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="frontendmascotas\src\app\plantilla\Usuarios\Usuarios.html">Usuarios</a></li>
        <li><a routerLink="/mascota">Mascotas</a></li>
        <li><a routerLink="/plan">Planes</a></li>
        <li><a routerLink="/producto">Productos</a></li>
        <li><a routerLink="/prospecto">Prospectos</a></li>
        <li><a routerLink="/sucursal">Sucursales</a></li>
        <li><a routerLink="/seguridad/identificar">Incio Sesion</a></li>
  </ul>
