<footer class="page-footer blue accent-1">
    <div class="container blue accent-3">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">MASCOTA FELIZ</h5>
          <p class="grey-text text-lighten-4">Empresa con vocación, líder en soluciones veterinarias integrales y en la prestación de servicios para los animales domésticos</p>
          
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">NOSOTROS</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Sucursales</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Clientes y Mascotas Felices</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Planes</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Tienda</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue accent-2">
      <div class="container">
      © 2022 Mascota Feliz - Cachorritos Grupo 23
      <a class="grey-text text-lighten-4 right" href="https://misiontic.ucaldas.edu.co/">MinTic - U Caldas</a>
      </div>
    </div>
  </footer>
      
